<% term = @terms.pop %>
<% answers = @english_terms.sample(3) %>
<% answers << term %>
<div id="question">
	<h1><%= term.korean %></h1>
	<h3><%= term.romanized%></h3>
</div>
<div id="answers">
	<ul>
	<% answers.shuffle.each do |term| %>
		<li><%= term.english %></li>
	<% end %>
	</ul>
</div>
