#answers ul {
	list-style-type: lower-alpha;
}

#answers li:hover {
	cursor: pointer;
	background-color: #FEF280;
}

#dialog {
	display: none;
}

#vocab_area div.hidden {
	display: none;
}

#answers li.correct {
	background-color: #BFFEBF;
	list-style-image: url('/images/correct.jpeg');
}

#answers li.incorrect {
	background-color: #FE8080;
	list-style-image: url('/images/incorrect.jpeg');
}

#question h1 {
    text-align: center;
    font-size: 5em;
}

#question h3 {
    text-align: center;
}